{% extends "base.html" %}
{% block title %}各操作系统的 SSR 客户端地址{% endblock %}

{% block content %}
<h1>下面是各操作系统的 SSR 客户端地址：</h1>
<table>
  <tr>
    <td>平台</td><td>链接</td><td>备注</td>
  </tr>
  
  <tr>
    <td>Linux</td><td><a href="https://github.com/the0demiurge/CharlesScripts/blob/master/charles/bin/ssr" target="_blank">Linux 客户端一键安装配置使用脚本</a></td><td>命令行界面， Mac 也能用，使用方法见注释</td>
  </tr>
  
  <tr>
    <td>Terminal</td><td><a href="https://the0demiurge.blogspot.jp/2017/07/aptshadowsocks-tsocks.html">tsocks</a></td><td>安装使用教程</td>
  </tr>
  
  <tr>
    <td>Windows</td><td><a href="https://github.com/shadowsocksr-backup/shadowsocksr-csharp/releases" target="_blank">SSR C# 版</a></td><td>Windows 推荐使用</td>
  </tr>
  
  <tr>
    <td>Android</td><td><a href="https://github.com/shadowsocksr-backup/shadowsocksr-android/releases" target="_blank"> Android 客户端</a></td><td>无</td>
  </tr>
  
  <tr>
    <td>macOS</td><td><a href="https://github.com/shadowsocksr-backup/ShadowsocksX-NG/releases" target="_blank">ShadowsocksX-NG</a></td><td>Mac 也能用 Linux 版的</td>
  </tr>
  
  <tr>
    <td>iOS</td><td><a href="https://github.com/Alvin9999/new-pac/wiki/%E8%8B%B9%E6%9E%9C%E6%89%8B%E6%9C%BA%E7%BF%BB%E5%A2%99%E8%BD%AF%E4%BB%B6" target="_blank">只有中国 App Store 帐号</a>, <a href="https://github.com/shadowsocks/shadowsocks-iOS/wiki/Help" target="_blank">美区 App Store</a> </td><td>只有中国区 App Store的话会麻烦一些</td>
  </tr>
</table>
{% endblock %}
