{% extends "base.html" %}
{% block title %}免费ShadowSocks帐号分享{% endblock %}

{% block content %}

<h1>
      全部SS帐号信息（不能保证全都能用）
</h1>

<a href='/'>返回主页</a><br>

<h2>必读信息</h2>
<p>
  请使用 ShadowSocksR 客户端，不然无法使用。<a href="/html/clients.html" target="_blank">客户端链接在此</a><br>
  <a href="/html/notes.html" target="_blank">以前的通知信息在此</a>
</p>
</div>
<fieldset>

  <legend><strong>ShadowSocks服务器信息</strong></legend>
  {% for server in servers %}
    <p>
      请支持免费ss帐号的提供者：<a target="_blank" href="{{server['info']['url']}}">{{server['info']['name']}}</a><br>
      <font style="color:#E13C19">服务器通知：<br>{{server['info']['message']}}</font>
      <br>
      <ol>
      {%set outer_loop = loop%}
      {% for s in server['data'] %}
        <li> <a target="_blank" href="/{{outer_loop.index0}}-{{loop.index0}}"> {{s['remarks']}}</a> </li>
      {% endfor %}
      </ol>
    </p>
  {% endfor %}
  全部SSR帐号订阅地址：<a target="_blank" href="/full/subscribe">链接</a><br>
  全部JSON格式帐号的订阅地址（每次随机从库中抽取一条json返回）：<a target="_blank" href="/full/json">链接</a>
</fieldset>
{% endblock %}
