{% extends "base.html" %}

{% block title %}免费ShadowSocks帐号分享{% endblock %}

{% block content %}

<h3>
    <pre>
{{ss}}
    </pre>
</h3>
<div id="announcement" style="color: #311315">
  <p style="font-size: 1.25rem;font-weight: 500;">
      这是一个简单的爬取各网站的ss账号分享站点，可不只是ss分享&emsp;<a href="https://share-shadowsocks.herokuapp.com/" style="text-decoration: none;">ssr分享站点</a>
    </p>
</div>

<fieldset>
  <legend><strong>ShadowSocks服务器信息</strong></legend>
  {% for server in servers %}
    <p>
      <font style="color:#E13C19">服务器通知：<br>{{server['info']['message']}}</font>
      <br>
      <ol>
      {%set outer_loop = loop%}
      {% for s in server['data'] %}
        <li> <a target="_blank" href="/{{outer_loop.index0}}-{{loop.index0}}"> {{s['remarks']}}</a> </li>
      {% endfor %}
      </ol>
    </p>
  {% endfor %}
  全部SSR帐号订阅地址：<a target="_blank" href="/full/subscribe">链接</a><br>
  全部JSON格式帐号的订阅地址（每次随机从库中抽取一条json返回）：<a target="_blank" href="/full/json">链接</a>
</fieldset>
<p style="font-size: 1.25rem;font-weight: 500;">
    ASCII艺术字符抽象画 <a href="/gift" style="text-decoration: none;text-align:center;">波若波罗密</a>
</p>

<!--<a href="/gift">礼物</a>-->
<footer>
 <ul style="list-style:none;text-align:center;">
<li>关于</li>
<li><a href="loremwalker.github.io/about" style="text-decoration: none;color:#6C6C6C;">参与项目并部署者</a></li>
 <li>鸣谢</li>
  <li><a href="https://github.com/the0demiurge/ShadowSocksShare-OpenShift" style="text-decoration: none;color:#6C6C6C;">ShadowSocksShare-OpenShift项目作者</a></li>
</ul>
</footer>
{% endblock %}
