{% extends "base.html" %}

{% block title %}全部通知{% endblock %}

{% block content %}
<h1>全部通知</h1>
<!-- 通知模版
echo -e '<fieldset>\n  <legend>通知发布日期：'(date)'</legend>\n</fieldset>\n'|pbcopy
-->
<fieldset>
  <legend>通知发布日期：Mon Mar 4 14:23:45 CST 2019</legend>
  由于 Google plus 将于2019年4月2日关闭，而之前爬到的可用账号几乎都来源于 Google plus。<br>
  所以如果大家是自己搭的网站，请时刻关注本项目更新动态，并使用最新源码重新部署。<br>
  最后，如果有推荐的免费ss账号分享网站，不妨在<a href="https://github.com/the0demiurge/ShadowSocksShare/issues/50">这里</a>提供一下，或者向作者发email:<a
    target="_blank" href="mailto:charl3s.xu@gmail.com?subject=feedback" "email me">charl3s.xu@gmail.com</a><br>
  作者将在学习工作之余抽空研究并爬一下试试。
</fieldset>

<fieldset>
  <legend>通知发布日期：Thu Nov 23 10:03:39 CST 2017</legend>
  如果本网站无法访问，可以参考<a href="https://github.com/the0demiurge/ShadowSocksShare/issues/17" target="_blank">这个 Issue</a><br>
  获取最新信息，请持续关注本项目的 <a href="https://github.com/the0demiurge/ShadowSocksShare" target="_blank">GitHub 仓库</a>：）
</fieldset>

<fieldset>
  <legend>通知发布日期：Fri Oct 27 19:55:17 CST 2017</legend>
  <h2>重大更新</h2>
  万众瞩目的验证账号可用性功能终于完成了，耗费了好多时间看ShadowSocks源码、改代码。<br>
  感谢大家的捐助，捐助信息越来越长了，我将它挪到了<a href="/html/donate.html" target="_blank">专门的捐助页面：）</a><br>
  这个业余时间的小作品已经比较完善了，GitHub也获得了超过100个Star：）<br>
  现在看来，基础功能都已经实现了，因此如果没有发现Bug，本项目将不会经常需要更新了：）<br>
  以后的更新将主要添加/替换ssr源、发布自建SSR账号<br>
  写了一篇博客，记录了一下这个小项目开发的记录，如果有兴趣的话可以点击<a href="http://the0demiurge.blogspot.com/2017/10/shadowsocksshare.html">这里</a>看看：）
</fieldset>

<fieldset style="text-align: center;">
  <legend>通知发布日期：Wed Oct 11 19:30:29 CST 201</legend>
  <h3>当前已知问题</h3>
  <p>
    <ol>
      <li> 没有做ss账号失效检测 </li>
      <li> 非ssr的账号也可以放到订阅里面，只不过需要转变格式 </li>
      <li> 输出的JSON格式的文件有问题，如果是非ssr账号，生成的配置文件包含无用信息，<br>Python客户端会不认。如果想使用请删掉内容为""的条目 </li>
      <li> 网站性能不太强 </li>
      <li> 最近为了弄ssl证书把DNS弄得很乱，所以另起炉灶换了域名，新域名为<a href="http://ssr.pythonic.life">ssr.pythonic.life</a>，
        <br>现在原域名会重定向到新域名。 如果域名都不好使，请使用备用网址： <a
          href="http://ssshare-ssshare.7e14.starter-us-west-2.openshiftapps.com/">备用链接</a> </li>
    </ol>
  </p>
  <p>
    除了修复问题，下一步准备做：
    <ol>
      <li> 使用MySQL存储数据 </li>
      <li> 添加留言版功能(当前的留言板其实就是我的GitHub Issue页面) </li>
      <li> 搞定ssl证书，弄https加密 </li>
    </ol>
  </p>
</fieldset>


<fieldset>
  <legend>通知发布日期：Mon Oct 9 19:54:22 CST 2017</legend>
  逗比根据地写了一款小bash脚本，可以用来验证ssr账号可用性，推荐大家使用：）<br>
  <a href="https://doub.io/ss-jc56/" target="_blank">链接在此</a><br>
  我近期比较忙，没有时间维护网站，如果有朋友可以一起维护，实现自动验证ssr可用性的话，欢迎帮忙：）
</fieldset>


<fieldset>
  <legend>通知发布日期：Fri Sep 29 21:28:52 CST 2017</legend>
  添加了<a href="https://freess.cx/" target="_blank">https://freess.cx/</a>的链接，代码日志记录系统改善，能回溯到所有问题所在，解决了所有已知错误。
</fieldset>


<fieldset>
  <legend>通知发布日期：Fri Sep 29 21:27:50 CST 2017</legend>
  代码进行了较大改造，减少代码量，增加了历史通知功能。
</fieldset>


<fieldset>
  <legend>通知发布日期：Sat Sep 16 17:06:09 CST 2017</legend>
  找到了一个免费VPS（可惜免费的服务器只能选择被墙的）<br>
  官方网址在这里：<a href="https://www.wishosting.com/">https://www.wishosting.com/</a>
  具体教程在这里：<a
    href="http://www.138vps.com/go/?url=https://liyuans.com/archives/wishosting.html">http://www.138vps.com/go/?url=https://liyuans.com/archives/wishosting.html</a>
</fieldset>


<fieldset>

  <legend>通知发布日期：Sat Sep 16 16:42:43 CST 2017</legend>

  从网上爬到的 ss 账号稳定性欠佳。我又找到了一些不错的 Hosts 源，分享给大家：<br>Windows 7/8/10 或 Linux 请使用我写的<a target="_blank"
    href="https://github.com/the0demiurge/CharlesScripts/tree/master/tools/auto_hosts_updater">自动更新 Hosts 脚本</a>；Android
  请使用 <a href="https://play.google.com/store/apps/details?id=com.lerist.go_hosts">一键 Go Hosts - NEW</a>
  <p>
    <h3 style="color: #8F5A0A">请使用 ShadowSocksR 客户端，否则连不上别怪服务器不行 =_=</h3>
    找到了一个可以免费获取的VPS，不过需要<a href="https://www.wishosting.com/">https://www.wishosting.com/</a>
    下面是各操作系统的 SSR 客户端地址：<br>
    <table>
      <tr>
        <td>平台</td>
        <td>链接</td>
        <td>备注</td>
      </tr>

      <tr>
        <td>Linux</td>
        <td><a href="https://github.com/the0demiurge/CharlesScripts/blob/master/charles/bin/ssr" target="_blank">Linux
            客户端一键安装配置使用脚本</a></td>
        <td>命令行界面， Mac 也能用，使用方法见注释</td>
      </tr>

      <tr>
        <td>Terminal</td>
        <td><a href="https://the0demiurge.blogspot.jp/2017/07/aptshadowsocks-tsocks.html">tsocks</a></td>
        <td>安装使用教程</td>
      </tr>

      <tr>
        <td>Windows</td>
        <td><a href="https://github.com/shadowsocksr-backup/shadowsocksr-csharp/releases" target="_blank">SSR C# 版</a>
        </td>
        <td>Windows 推荐使用</td>
      </tr>

      <tr>
        <td>Android</td>
        <td><a href="https://github.com/shadowsocksr-backup/shadowsocksr-android/releases" target="_blank"> Android
            客户端</a></td>
        <td>无</td>
      </tr>

      <tr>
        <td>macOS</td>
        <td><a href="https://github.com/shadowsocksr-backup/ShadowsocksX-NG/releases"
            target="_blank">ShadowsocksX-NG</a></td>
        <td>Mac 也能用 Linux 版的</td>
      </tr>

      <tr>
        <td>iOS</td>
        <td><a
            href="https://github.com/Alvin9999/new-pac/wiki/%E8%8B%B9%E6%9E%9C%E6%89%8B%E6%9C%BA%E7%BF%BB%E5%A2%99%E8%BD%AF%E4%BB%B6"
            target="_blank">只有中国 App Store 账号</a>, <a href="https://github.com/shadowsocks/shadowsocks-iOS/wiki/Help"
            target="_blank">美区 App Store</a> </td>
        <td>只有中国区 App Store的话会麻烦一些</td>
      </tr>
    </table>
  </p>
</fieldset>
{% endblock %}
