{% extends "base.html" %}
{% block title %}免费ShadowSocks帐号分享{% endblock %}

{% block content %}

<h1>捐助信息</h1>
<a href='/'>返回主页</a><br>
<fieldset>
  <legend>说明</legend>
<h4>微信现在看不到付款人信息了，所以捐款的时候想要留下名字就要在捐款信息里面附上-_-</h4>
<h4>谢谢大家支持，大家的捐款现在主要用于交域名费，等到攒到一定数额会考虑用捐款搭梯子分享给大家：）</h4>
<h4>由于我也没有搭梯子的经验，会考虑买很多不同家的VPS给大家测试（等我有空再说吧...）</h4>
</fieldset>
<p>
  某位没有留下名字的朋友捐献了5元，并留言："感谢分享"：）
</p>
<p>
  某位没有留下名字的朋友捐献了20元，并留言："感谢分享，自由无价！"：）
</p>
<p>
  某位没有留下名字的朋友捐献了20元，并留言："请再接再厉，坚持完善"：）
</p>
<p>
  某位没有留下名字的朋友捐献了2元：）
</p>
<p>
  某位没有留下名字的朋友捐献了10元，并留言："谢谢分享！"：）
</p>
<p>
  某位没有留下名字的朋友捐献了0.88元：）
</p>
<p>
  某位没有留下名字的朋友捐献了3元，并留言："感谢你免费梯子项目"：）
</p>
<p>
  某位没有留下名字的朋友捐献了8.88元：）
</p>
<p>
  某位没有留下名字的朋友捐献了5元：）
</p>
<p>
  某位没有留下名字的朋友捐献了5元：）
</p>
<p>
  某位没有留下名字的朋友捐献了10.01元，并留言："伟大，感谢与支持！"：）
</p>
<p>
  某位没有留下名字的朋友捐献了1元，并留言："用不了了(emoji哭)不过还是"：）<br>to 这位朋友：具体是哪方面用不了了？欢迎到我的 <a target="_blank" href="https://github.com/the0demiurge/ShadowSocksShare-OpenShift/issues">GitHub Issue 页面</a>提供反馈；<br>此外近期有计划抽空对网站升级，把不能用的帐号过滤掉：）
</p>
<p>
  某位没有留下名字的朋友捐献了10元：）
</p>
<p>
  某位没有留下名字的朋友捐献了10元，并留言："感谢分享～加油"：）
</p>
<p>
  某位没有留下名字的朋友捐献了8元，并留言："喝瓶奶茶"：）
</p>
<p>
  某位没有留下名字的朋友捐献了5元，并留言："老大，请你吃个可乐。"：）
</p>
<p>
  某位没有留下名字的朋友捐献了10元，并留言："感谢您的ss项目"：）
</p>
<p>
  某位没有留下名字的朋友捐献了2.33元，并留言："谢谢"：）
</p>
<p>
  某位没有留下名字的朋友捐献了1元：）
</p>
<p>
  某位没有留下名字的朋友捐献了10元，并留言："感谢分享免费梯子"：）
</p>
<p>
  某位没有留下名字的朋友捐献了2元：）
</p>
<p>
  hsu_bicheng 朋友捐助了50元：）
</p>
<!--
计算捐款数额的一行python脚本：
import re,functools;print(functools.reduce(lambda x,y:x+y,map(float,re.findall('[\.\d]+',info))))
-->

{% endblock %}
