<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>免费ShadowSocks帐号分享</title>
    <link rel="stylesheet" href="">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
    <link rel = "Shortcut Icon" href=/favicon.ico> 
    <style type="text/css">
        table{
            border-collapse: collapse;
            margin:0px auto;
        }
        table, td{
            border:1px solid black;
        }
    </style>
</head>



<body>


<h3>
    <pre style="text-align: center;">
{{ss}}
    </pre>
</h3>


<div id="announcement" style="text-align: center;background-color: silver" target="_blank">
    <h2>最新通知</h2>
    
    <p>
    <strong>感谢hsu_bicheng朋友的捐助：）<br>
    今天我又去找了另外两个提供免费ss帐号的网站爬了一下，现在本网站可以正常运作，订阅服务也能正常运行了。<br>
    更新增加了json格式的订阅，可以配合curl自动化更新python版ssr的配置文件。</strong>
    </p>
    
    <p>
        <h3 style="color: #8F5A0A">请使用 ShadowSocksR 客户端，否则连不上别怪服务器不行 =_=</h3>
        
        下面是各操作系统的 SSR 客户端地址：<br>
        <a href="https://github.com/the0demiurge/CharlesScripts/blob/master/charles/bin/ssr" target="_blank">Linux 客户端一键安装配置使用脚本</a>（命令行界面， Mac 也能用，使用方法见注释）<br>
        <a href="https://the0demiurge.blogspot.jp/2017/07/aptshadowsocks-tsocks.html">使用tsocks为终端开启socks代理</a>（还可以通过tsocks curl ip.cn查看连接状况）<br>
        <a href="https://github.com/shadowsocksr-backup/shadowsocksr-csharp/releases" target="_blank">Windows 客户端</a><br>
        <a href="https://github.com/shadowsocksr-backup/shadowsocksr-android/releases" target="_blank"> Android 客户端</a><br>
        <a href="https://github.com/shadowsocksr-backup/ShadowsocksX-NG/releases" target="_blank">macOS 客户端</a><br>
        iOS客户端：只有中国区 app store 的话帐号点<a href="https://github.com/Alvin9999/new-pac/wiki/%E8%8B%B9%E6%9E%9C%E6%89%8B%E6%9C%BA%E7%BF%BB%E5%A2%99%E8%BD%AF%E4%BB%B6" target="_blank">这里</a> ，有美区 app store 帐号的话点<a href="https://github.com/shadowsocks/shadowsocks-iOS/wiki/Help" target="_blank">这里</a><br>
    </p>
    <p>通知发布时间：{{ctime}}</p>
</div>

<fieldset style="text-align: center;">

  <legend style="text-align: center;"><strong>ShadowSocks服务器信息</strong></legend>
  {% for server in servers %}
    <p>
      请支持免费ss帐号的提供者：<a href="{{server['info']['url']}}">{{server['info']['name']}}</a><br>
      <font style="color:#E13C19">服务器通知：{{server['info']['message']}}</font>
      <br>
      {%set outer_loop = loop%}
      {% for s in server['data'] %}
        <a target="_blank" href="/{{outer_loop.index0}}-{{loop.index0}}"> {{s['remarks']}}</a>
        <br>
      {% endfor %}
    </p>
  {% endfor %}
  SSR订阅地址：<a href="/subscribe">http://ss.pythonic.life/subscribe</a><br>
  JSON格式的订阅地址（每次随机从库中抽取一条json返回）：<a href="/json">http://ss.pythonic.life/json</a>
</fieldset>


<div id="info" style="text-align: center;">
    <p>如果遇到了什么问题或有任何建议，请到我的 <a href="https://github.com/the0demiurge/Python-Scripts/issues">GitHub Issue 页面</a>提供反馈：）</p>
    <p>如果用着感觉挺好，不妨在朋友之间宣传宣传，然后到<a target="_blank" href="https://github.com/the0demiurge/Python-Scripts/tree/master/src/Web/Flask/ShadowSocksShare">GitHub 链接</a>加个星：）</p>
</div>

<div id="author" style="text-align: center;">
<table border="1" style="text-align: center;">

  <tr>
      <td>作者</td><td><a href="http://charles.love-y.eu" target="_blank">老徐</a></td>
  </tr>
  
  <tr>
      <td>作者的博客</td><td><a target="_blank" href="https://the0demiurge.blogspot.jp/">Blogger （需爬墙）</a></td>
  </tr>
  
  <tr>
      <td>作者的 Email</td><td><a target="_blank" href="mailto:charl3s.xu@gmail.com?subject=feedback" "email me">charl3s.xu@gmail.com</a></td>
  </tr>
  
  <tr>
      <td>源码地址</td><td><a target="_blank" href="https://github.com/the0demiurge/Python-Scripts/tree/master/src/Web/Flask/ShadowSocksShare">GitHub 链接</a></td>
  </tr>
  
  <tr>
      <td><strong>网页源码更新时间</td><td>{{ctime}}</strong></td>
  </tr>
  
  <tr>
      <td><strong>访问次数</td><td>{{counter}}</strong></td>
  </tr>
  
</table>
<pre><code>

 __________________      
( 作者的对象：小胖儿～ )     
 ------------------      
     \                   
      \                  
       \ >()_            
          (__)__ _ ___ __

</code></pre>
</div>


<div id="donate" style="text-align: center;">如果连上 ssr 之后成功翻了出去，刷新此页面你就能看到下面的微信二维码，并可以资助我^_^
<br>
<img src="https://2.bp.blogspot.com/-k-wEhqPNegI/WQwuxp6sacI/AAAAAAAAWlE/b2JZeYsWWswP5oMuul90kEQi7-riKYMYgCLcB/s320/wechat.png" alt="">
</div>

<!-- beautiful background -->
<script type="text/javascript" color="{{color}}" opacity="{{opacity}}" count="{{count}}" src="js/canvas-nest.min.js"></script>

<!-- github ribbon -->
<a href="https://github.com/the0demiurge/Python-Scripts/tree/master/src/Web/Flask/ShadowSocksShare"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

</body>

</html>


